extends layout

block content
    h1 #{title}
    if user
        a(href="/home")
            button(class='btn btn-default') Home
        a(href="/user/logout")
            button(class='btn btn-default') Logout
    else
        a(href="/user/loginForm")
            button(class='btn btn-default') Login
        a(href="/user/signupForm")
            button(class='btn btn-default') Signup